@{
    ViewBag.Title = "Tarihçe";
}

@Html.Partial("_PageHeader")
<section id="content">
    <section class="section-padding">
        <div class="container">
            <div class="row showcase-section">
                <div class="col-md-6">
                    <img class="history-img" src="~/Content/img/kalitte/galyum.jpg" alt="showcase image">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <h3>KALİTTE PROFESYONEL BİLGİ TEKNOLOJİLERİ</h3>
                        <p>
                            Kalitte Profesyonel Bilgi Teknolojileri 2008 yılında kurulmuştur. Kurucusu
                            <a href="http://www.linkedin.com/in/tansut" target="_blank">Tansu TÜRKOĞLU</a>’dur.
                        </p>
                        <p>
                            2008-2012 yılları arasında; Orta Doğu Teknik Üniversitesi KOSGEB Teknoloji Geliştirme Merkezi’nde Ar-Ge ağırlıklı
                            çalışmalar yapılmıştır.
                        </p>
                        <p>
                            2012 yılından günümüze; ODTÜ Teknokent bünyesinde danışmanlık, kurumlara yetkin insan kaynağı sağlama ve müşteri
                            odaklı yazılım geliştirme hizmetleri verilmektedir.
                        </p>
                        <p>
                            Kuruluşundan bugüne ülkemiz sınırları içerisinde sayısız irili-ufaklı müşteri odaklı yazılım geliştirme projeleri
                            başarıyla tamamlanmıştır. Çalışma yapılan başlıca kurumlar T.C. Devlet Demir Yolları İşletmesi, T.C. Sağlık Bakanlığı,
                            T.C. Çevre ve Şehircilik Bakanlığı, Türk Silahlı Kuvvetleri Genelkurmay Başkanlığı ve Kara Kuvvetleri Komutanlığı
                            olarak özetlenebilir.
                        </p>
                        <p>
                            Dynamic Dashboards ve
                            <a href="http://jdash.io" target="_blank">JDash</a> isimli ürünler Kalitte ekibi tarafından geliştirilmiş ve başta Amerika Birleşik Devleri olmak üzere 25
                            ülkeye ihraç edilmiştir. Halen dünya çapında 2000’in üzerinde müşteri bu ürünleri kullanmaktadır.
                        </p>
                        <p>
                            Yapay zekâ ve alt disiplinlerinde faaliyet göstermek üzere 2017 yılında %100 hissedarı Kalitte olan
                            <a href="http://aibrite.com" target="_blank">Aibrite Inc.</a> San Francisco, Kaliforniya’da kurulmuştur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="about">
            <br>
        </div>
    </div>
</section>
