
@{
    ViewBag.Title = "Hizmetler";
}

@Html.Partial("_PageHeader")
<section id="content">
    <div class="container content">
        <div class="row">
            <div class="skill-home">
                <div class="skill-home-solid clearfix">
                    <div class="col-xs-12">
                        <div class="text-center">
                            <span class="icons c1">
                                <i class="fa fa-lightbulb-o"></i>
                            </span>
                        </div>
                        <div class="box-area">
                            <h3 class="text-center">DANIŞMANLIK</h3>
                            <p>Profesyonel Danışmanlık Hizmetleri aşağıdaki konu ve teknolojiler kapsamında sağlanmaktadır:</p>
                            <h5 class="padding-top">Yazılım Mimarisi Tasarımı</h5>
                            <p>
                                Yazılım projelerinin başarısında mimarisel tasarım önemli bir etkendir. Doğru mimarisel tasarım projenin daha az
                                iş gücüyle, daha kısa sürede daha kaliteli kaynak kod yapısıyla tamamlanabilmesini sağlamaktadır.
                            </p>
                            <p>Masaüstü/mobil yazılımların mimarisel tasarımında aşağıdaki ürün ve teknolojiler kullanılmaktadır:</p>
                            <ul>
                                <li>Asp.Net Core/MVC/WebForms,</li>
                                <li>JavaScript/Typescript,</li>
                                <li>NodeJs/Python,</li>
                                <li>Css/Scss/Sass,</li>
                                <li>Gulp/Grunt,</li>
                                <li>Ext.Net/Bootstrap,</li>
                                <li>Cordova/Ionic</li>
                            </ul>
                            <h5 class="padding-top">İş Zekâsı ve Veri Görselleme, Raporlama</h5>
                            <p>
                                Veri ve veriler arasındaki ilişkilerin daha iyi anlaşılmasını sağlayan İş Zekâsı ve Veri Görselleme çözümlerinde
                                tasarımında aşağıdaki ürün ve teknolojiler kullanılmaktadır.
                            </p>
                            <p>Microsoft SQL Server Analysis/Integration/Reporting Services, Jdash, Microsoft Sharepoint</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-center">
                            <span class="icons c2">
                                <i class="fa fa-users"></i>
                            </span>
                        </div>
                        <div class="box-area">
                            <h3 class="text-center">YETKİN İŞGÜCÜ TEMİNİ</h3>
                            <p>
                                Personel istihdam etmek yerine profesyonel destek almak isteyen kamu ve özel kurumlara konusunda yetkin tam/yarı
                                zamanlı insan kaynağı sağlanmaktadır.
                            </p>
                            <p>
                                Aşağıdaki meslek ve uzmanlıklarda Kalitte personelleri aktif olarak görev yapmaktadır.
                            </p>
                            <ul class="left-list">
                                <li>Bilgisayar/Elektronik mühendisi,</li>
                                <li>Yazılım geliştirme uzmanı,</li>
                                <li>Yazılım mimarı, </li>
                                <li>Yazılım analisti, </li>
                                <li>Yazılım test uzmanı,</li>
                                <li>Yazılım destek personeli.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-center">
                            <span class="icons c3">
                                <i class="fa fa-code"></i>
                            </span>
                        </div>
                        <div class="box-area">
                            <h3 class="text-center">YAZILIM GELİŞTİRME</h3>
                            <p>
                                Müşteriye özel yazılımlar, müşterinin iş süreçleri analiz edilerek tek müşteri için geliştirilen yazılımlardır.
                                Asp.Net Core/MVC/WebForms, JavaScript/Typescript, NodeJs/Python, Css/Scss/Sass, Gulp/Grunt, Ext.Net/Bootstrap,
                                Cordova/Ionic
                            </p>
                            <p>
                                Kamu kurumları başta olmak üzere müşteriye özel yazılımlar anahtar teslimi veya danışmanlık modeli kullanılarak
                                geliştirilmektedir.
                            </p>
                            <p>
                                İhtiyaç analizi, yazılım mimarisi tasarımı, yazılım geliştirme, test ve dokümantasyon, pilot kullanım, hata giderme
                                ve iyileştirme süreçlerinin tamamı Kalitte tarafından yapılabilmektedir.
                            </p>
                            <p>Masaüstü/mobil yazılımların geliştirilmesinde aşağıdaki ürün ve teknolojiler kullanılmaktadır. </p>
                            <ul class="left-list">
                                <li>Asp.Net Core/MVC/WebForms,</li>
                                <li>JavaScript/Typescript,</li>
                                <li>NodeJs/Python, </li>
                                <li>Css/Scss/Sass, </li>
                                <li>Gulp/Grunt,</li>
                                <li>Ext.Net/Bootstrap,</li>
                                <li>Cordova/Ionic</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

