<div class="about home-about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Heading and para -->
                <div class="block-heading-two">
                    <h3>
                        <span>Vizyon & Misyon</span>
                    </h3>
                </div>
                <p>
                    Vizyonumuz; Kamu kurumları ve özel kuruluşlara bilgi teknolojilerini daha kolay ulaşılabilir hale getirmektir.
                    <br>
                    <br>Misyonumuz; Deneyim, empati ve teknolojik yetkinliklerimizi kullanarak güvenilir hizmetler sunmaktır.
                </p>
            </div>
            <div class="col-md-4">
                <div class="block-heading-two">
                    <h3>
                        <span>Güncel Haberler</span>
                    </h3>
                </div>

                <!-- Accordion starts -->
                <div class="panel-group" id="accordion-alt3">

                    <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->

                    <div class="panel">

                        <!-- Panel heading -->

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                    <i class="fa fa-angle-right"></i> TSK Hesap Otomasyon Projesi
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne-alt3" class="panel-collapse collapse">

                            <!-- Panel body -->

                            <div class="panel-body">
                                2014 yılında başlanan, tüm tasarım ve geliştirme aşamaları Kalitte tarafından tamamlanan Türk Silahlı Kuvvetleri Kara Kuvvetleri
                                Komutanlığı Hesap Otomasyon Projesi aktif olarak kullanılmaya başlanmıştır.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                    <i class="fa fa-angle-right"></i> T.C. Çevre ve Şehircilik Bakanlığı
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-alt3" class="panel-collapse collapse">
                            <div class="panel-body">
                                T.C. Çevre ve Şehircilik Bakanlığı Merkezi Fatura Yönetimi e-devlet entegrasyonu başarıyla tamamlanarak kullanıma sunulmuştur.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                    <i class="fa fa-angle-right"></i> TCDD Kamusallaştırma Yön. Bil. Sis.
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree-alt3" class="panel-collapse collapse">
                            <div class="panel-body">
                                2015 yılında başlanan, T.C. Devlet Demir Yolları İşletmesi Kamusallaştırma Yönetim Bilgi Sistemi yazılım güncellemeleri tamamlanmış,
                                yazılım bakım ve destek süreci başlamıştır.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                                    <i class="fa fa-angle-right"></i> T.C. Çevre ve Şehircilik Bakanlığı
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour-alt3" class="panel-collapse collapse">
                            <div class="panel-body">
                                T.C. Çevre ve Şehircilik Bakanlığı Merkezi Fatura Yönetimi, İzin Lisans, E-denetim ve Büyük Endüstriyel Kaza Risklerinin
                                Azaltılması (BEKRA) uygulama yazılımlarının bakım ve destek hizmetleri Kalitte tarafından sağlanmaktadır.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Accordion ends -->

            </div>
            <div class="col-md-4">
                <div class="block-heading-two">
                    <h3>
                        <span>İletişim</span>
                    </h3>
                </div>
                <div class="testimonials">
                    <div class="active item">
                        <address>
                            <strong>Kalitte Profesyonel Bilgi Teknolojileri Limited Şirketi</strong>
                            <br>
                            <br>
                            <i class="fa fa-home"></i> ODTÜ Teknokent Üniversiteler Mahallesi, İhsan Doğramacı Bulvarı
                            <br> Galyum Blok Kat 1 No: 19 ODTÜ
                            <br> ANKARA
                        </address>
                        <p>
                            <i class="fa fa-phone"></i> +90 (312) 210 10 88
                            <br>
                            <br>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:bilgi@kalitte.com.tr">bilgi@kalitte.com.tr</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<footer>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; 2017, Kalitte Profesyonel Bilgi Teknolojileri, Tüm Hakları Saklıdır.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
