
@{
    ViewBag.Title = "Yetkisiz Giriş";
}

@Html.Partial("_PageHeader", new Kalitte.Services.SimplePageHeader("Yetkisiz Giriş"))

<h3 class="margin-left margin-top warning">Yetkiniz olmadığından sayfaya erişiminiz engellenmiştir.</h3>
