.btn-primary:hover {
    background: none;
    border: 1px #fdd428 solid !important;
    color: #fdd428 !important;
}

.widget i {
    color: white;
    font-size: 1.2em;
    margin-right: 5px;
}

.widgetheading strong {
    color: white !important;
}

.scrollup {
    background: #458dd4;
    margin-bottom: 10px;
}

.kalitte-logo {
    max-width: 150px;
}

footer {
    padding: 0;
}



.about-text {
    text-align: justify;
}

.history-img {
    max-width: 100%;
    height: 40%;
}

.left-list {
    text-align: left;
}

.padding-top {
    padding-top: 10px !important;
}

.skill-home .icons {
    margin-top: 2em;
}

.gallery-thumb {
    width: 100%;
    /* max-width: 250px; */
    margin: 0 auto;
    height: 250px;
}

    .gallery-thumb img {
        /* margin-top: 25%; */
        max-height: 248px;
        margin: 10% auto;
    }

.editContent {
    padding-top: 5px;
    padding-bottom: 5px;
}

.diff-img {
    margin-top: 0px !important;
}

.box-area {
    padding: 20px;
}

.flex-caption:hover {
    cursor: pointer;
}

.editContent .active {
    color: #458dd4 !important;
    text-decoration: underline;
}

    .editContent .active a {
        color: #458dd4 !important;
    }

#gallery-1 {
    margin-top: 2em;
}



@media screen and (max-width: 767px) {
    .info-blocks {
        margin-bottom: 3em !important;
    }

    .slides img {
        height: 200px;
    }

    .flex-caption {
        display: block !important;
    }

        .flex-caption h3 {
            font-size: 20px !important;
        }

    .about-image {
        margin-top: 2em;
    }

    .section-title p {
        text-align: justify !important;
    }

    .home-about {
        padding-right: 20px;
        padding-left: 20px;
    }

    .block-heading-two h3 {
        margin-top: 2em;
    }
}

@media screen and (min-width: 767px) {
    .slides img {
        height: 550px;
    }

    .info-text {
        min-height: 140px;
    }

    .contact-page .box-area {
        min-height: 190px;
        font-weight: bold;
        line-height: 20px;
        vertical-align: middle;
        line-height: 2em;
    }
}

.gallery-item {
    -webkit-box-shadow: 0 4px 8px 0 rgba(69,96,144,1);
    -moz-box-shadow: 0 4px 8px 0 rgba(69,96,144,1);
    box-shadow: 0 4px 8px 0 rgba(69,96,144,1);
    min-height: 600px;
    padding: 2px 16px;
    border: 1px #458dd4 solid;
    padding-top: 10px;
}

    .gallery-item:hover {
        -webkit-box-shadow: 0 8px 16px 0 rgba(69,96,144,1);
        -moz-box-shadow: 0 8px 16px 0 rgba(69,96,144,1);
        box-shadow: 0 8px 16px 0 rgba(69,96,144,1);
    }

.contact-page h3 {
    padding-left: 15px;
}

.news-date {
    text-align: right;
    font-weight: bold;
}

.flex-caption {
    background: rgba(0,0,0,0.1);
    border-radius: 0;
    width: initial !important;
}

form {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.margin-left {
    margin-left: 15%;
}

.margin-top {
    margin-top: 50px;
}

.warning {
    color: red;
}

.login-bar {
    background: lightgray;
    margin-bottom: 0 !important;
    padding-bottom: 30px;
}

.margin-right {
    margin-right: 15%;
}

.news-table {
    width: initial;
    margin: 0 auto;
}

.news-row {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
    font-weight: bold;
    margin-top: 50px;
    border-bottom: 1px solid lightgray;
    text-align:center;
}

.newsitem-row {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
    border-bottom: 1px solid lightgray;
    text-align:center;
}

.custom-padding-top {
    padding-top: 50px;
}
